target
.metadata
.settings
.classpath
.project
.asciidoctor
*.class
# Package Files #
*.jar
*.war
*.ear
.idea
*.swp
*.png
datanucleus.log
/bin/
*.log
data-mapper/src/main/resources/log4j.xml